@import url(/css/mainstyle.css);

/* ==========       NAVBAR      ========== */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 3rem;
  font-family: var(--body-font);
}

.nav_item{
  margin-top: 1rem;
  width: 95px;
}

.nav_item2{
  margin-top: 1.5rem;
  width: 70px;
}

.nav_logo{
  margin-top: 1.5rem;
  width: 80px;
}

.nav-voting{
  display: flex;
  justify-content: center;
}

.nav_title{
  margin-top: 0;
  font-size: var(--biggest-font-size);
  color: var(--gray-dark);
  font-family: var(--font-theme);
  font-weight: 400;
}

.nav_title_2{
  margin-top: .5rem;
  font-size: var(--biggest-font-size);
  color: var(--gray-dark);
  font-family: var(--font-theme);
  font-weight: 400;
}

.nav-visi-misi{
  display: flex;
  z-index: var(--z-fixed);
  background-color: #ecf0f3;
  padding-left: 2rem;
  padding-right: 3rem;
  padding-top: 2rem;
  font-family: var(--body-font);
  justify-content: left;
  height: 4rem;
}

.nav-back{
  text-decoration: none;
  color: var(--gray-dark);
  border: none;
}
.nav-back:hover{
  color: var(--purple);
  text-decoration: none;
}

.title-hasil{
  margin-top: 2rem;
  font-size: var(--biggest-font-size);
  font-family: var(--font-theme);
  color: var(--gray-dark);
  font-weight: 300;
  letter-spacing: 0.50px;
}

.btn-group{
  font-family: var(--font-theme);
  font-weight: 600;
}

.btn-group-hasil{
  margin-left: 2rem;
}

.btn-hasil-kiri{
  margin-top: 1rem;
  height: 2.75rem;
  width: 11rem;
  background-color: #ecf0f3;
  color: var(--gray-dark);
  box-shadow: 5px 5px 5px #d1d9e6, -7.5px -7.5px 7.5px #f9f9f9;
  border-radius: 10px 0 0 10px;
}

.btn-hasil-kanan{
  margin-top: 1rem;
  height: 2.75rem;
  width: 2.5rem;
  background-color: #ecf0f3;
  color: var(--gray-dark);
  box-shadow: 5px 5px 5px #d1d9e6, 0 -7.5px 7.5px #f9f9f9;
  border-radius: 0 10px 10px 0;
}

.btn-hasil-kiri:hover{
  background-color: #ecf0f3;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
  border-radius: 10px 0 0 10px;
}

.btn-hasil-kanan:hover{
  background-color: #ecf0f3;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
  border-radius: 0 10px 10px 0;
}

.dropdown-menu{
  background-color: #ecf0f3;
  font-family: var(--font-theme);
  color: var(--gray-dark);
  border: none;
  border-radius: 10px;
}

.dropdown-item{
  color: var(--gray-dark);
}

.dropdown-item:hover{
  color: var(--purple);
}

.dropdown-item:focus{
  color: var(--purple);
  background-color: transparent;
}

.title-daftar{
  margin-top: 2rem;
  font-size: var(--biggest-font-size);
  font-family: var(--font-theme);
  color: var(--gray-dark);
  font-weight: 300;
  letter-spacing: 0.50px;
}

.btn-group-daftar{
  margin-left: 3.5rem;
  font-family: var(--font-theme);
  font-weight: 600;
}

.btn-hasil-kiri-daftar{
  margin-top: 1rem;
  height: 2.75rem;
  width: 9rem;
  background-color: #ecf0f3;
  color: var(--gray-dark);
  box-shadow: 5px 5px 5px #d1d9e6, -7.5px -7.5px 7.5px #f9f9f9;
  border-radius: 10px 0 0 10px;
}

.btn-hasil-kanan-daftar{
  margin-top: 1rem;
  height: 2.75rem;
  width: 2.5rem;
  background-color: #ecf0f3;
  color: var(--gray-dark);
  box-shadow: 5px 5px 5px #d1d9e6, 0 -7.5px 7.5px #f9f9f9;
  border-radius: 0 10px 10px 0;
}

.btn-hasil-kiri-daftar:hover{
  background-color: #ecf0f3;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
  border-radius: 10px 0 0 10px;
}

.btn-hasil-kanan-daftar:hover{
  background-color: #ecf0f3;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
  border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 768px) {

  nav{
      margin-top: 1rem;
  }

  .nav{
    padding-left: 2rem;
    padding-right: 3rem;
  }

  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav_item, .nav_item2, .nav_logo{
    margin-top: 0;
  }

  .nav_item{
    width: 80px;
  }

  .nav_item2{
    width: 55px;
    margin-top: .8rem;
  }
  
  .nav_logo{
    width: 65px;
    margin-top: .5rem;
  }

  .btn-group-daftar{
    margin-left: 2.5rem;
    font-family: var(--font-theme);
    font-weight: 600;
  }
}

@media screen and (max-width: 760px){
  .nav_title{
    margin-top: 1rem;
  }
}

@media screen and (max-width: 550px) {

  nav{
      margin-top: .5rem;
  }

  .nav{
    padding-left: 1.5rem;
    padding-right: 2rem;
  }

  .nav_item{
    width: 75px;
  }

  .nav_item2{
    width: 55px;
    margin-top: .5rem;
  }
  
  .nav_logo{
    width: 60px;
  }

  .nav_title{
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {

  nav{
      margin-top: .5rem;
  }

  .nav{
    padding-left: 1rem;
    padding-right: 1.5rem;
  }

  .nav_item{
    width: 75px;
  }

  .nav_item2{
    width: 55px;
    margin-top: .5rem;
  }
  
  .nav_logo{
    width: 60px;
  }

  .nav_title{
    margin-top: 2rem;
    font-size: 1.75rem;
  }

  .nav-visi-misi{
    padding-left: 1.5rem;
  }

  .nav_title_2{
    margin-top: 2rem;
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 324px){
  .nav_title{
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .nav-visi-misi{
    padding-left: 1.25rem;
  }

  .nav_title_2{
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .title-daftar{
    font-size: var(--bigger-font-size);
  }

  .btn-group-daftar{
    margin-left: .5rem;
    font-family: var(--font-theme);
    font-weight: 600;
  }
}

@media screen and (max-width: 287px){
  .nav_title{
    margin-top: 2rem;
    font-size: 1.25rem;
  }

  .nav_title_2{
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 760px){
   .nav {
      height: 8rem;
    }
    .nav_list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .nav_item {
      margin-bottom: 0;
    }
    .nav_toggle {
      display: none;
    }
}
