@import url(/css/mainstyle.css);

/* ==========   VARIABLES CSS   ========== */
  .bd-grid{
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .l-header {
    width: 100%;
    top: 0;
    left: 0;
    position: static;
  }

  /* ==========   MAIN SECTION   ========== */
  .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-direction: column;
    padding: 2rem 4rem 2rem 4rem;
    background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    border-radius: 20px;
  }

  .form_input{
    width: 325px;
    height: 40px;
    margin: 4px 1.5rem;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: var(--third-body-font);
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
  }

  .form_input:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
  }

  .title {
    font-size: var(--biggest-font-size);
    line-height: 1.5;
    font-weight: 700;
    padding-left: 6.75rem;
    color: var(--second-color);
  }

  .sub-title{
    font-size: var(--bigger-font-size);
    font-weight: 700;
    color: var(--second-color);
    padding-left: 10rem;
    padding-bottom: 2rem;
  }

  .button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 1.5rem;
    margin-left: 6.5rem;
    font-weight: 700;
    font-size: 14px;
    font-family: var(--third-body-font);
    letter-spacing: 1.15px;
    background-color: #d30051;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: none;
  }

  .button:hover{
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(0.94);
    transition: 0.25s;
  }

  .error{
    font-size: 13px;
    color: var(--danger);
    padding-left: 1.5rem;
    margin-top: 1.5rem;
  }

  /* ==========   VOTING SECTION   ========== */

  .card-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .card {
    position: relative;
    height: 405px;
    width: 240px;
    border: none;
    background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6, -15px -15px 15px #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .card-image {
    position: absolute;
    top: 0;
    height: 240px;
    width: 227px;
    border-radius: 10px;
    margin: .4rem;
    object-fit: cover;
    z-index: -1;
  }
  .card-section {
      position: absolute;
      width: 100%;
      bottom: 0;
      box-sizing: border-box;
      padding: 0 20px 12px;
  }
  .card-text {
      font-size: 14px;
      font-weight: 500;
      font-family: var(--font-theme);
      color: var(--gray-dark);
      margin-left: 3rem;
      letter-spacing: 0.1em;
      font-weight: 400;
      color: #000000;
  }
  .card-text:last-child {
      letter-spacing: unset;
  }

  .visi-misi_button{
    background-color: #58948a;
    color: #f9f9f9;
    z-index: var(--z-fixed);
  }

  .vote_button{
    background-color: #d30051;
    color: #f9f9f9;
    z-index: var(--z-fixed);
  }

  .visi-misi_button, .vote_button{
    width: 170px;
    height: 40px;
    border-radius: 25px;
    margin-left: .8rem;
    margin-top: .5rem;
    font-family: var(--font-theme);
    font-weight: 600;
    letter-spacing: .5px;
    box-shadow: 8px 8px 16px #d1d9e6;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .visi-misi_button:hover, .vote_button:hover{
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 6px #f9f9f9;
    transform: scale(0.96);
    transition: 0.25s;
  }

  /* ==========   VISI MISI SECTION   ========== */

  .visi-misi-row{
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-direction: row;
  }

  .left-card{
    height: 350px;
    width: 320px;
    background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6, -15px -15px 15px #f9f9f9;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    z-index: 1;
    position: relative;
  }

  .right-card{
    height: 350px;
    width: 400px;
    background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6, 0 -15px 15px #f9f9f9;
    border-radius: 0 10px 10px 0;
    overflow: auto;
    z-index: 1;
    position: relative;
  }

  .right-side::-webkit-scrollbar {
    width: 5px;
    border-radius: 100px;
  }

  .right-side::-webkit-scrollbar-track {
    background-color: #cacbdd;
    border-radius: 100px;
  }

  .right-side::-webkit-scrollbar-thumb {
    background: #b0b3e9;
    border-radius: 100px;
  }

  .left-side{
    position: absolute;
    width: 320px;
    height: 352px;
    object-fit: cover;
    overflow: hidden;
    padding: .4rem;
    border-radius: 15px 15px 15px 15px;
  }

  .right-side{
    font-family: var(--body-font);
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--gray-dark);
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    padding-left: 1rem;
    padding-right: 2rem;
    position: absolute;
    width: 370px;
    height: 300px;
    box-sizing: border-box;
    overflow: auto;
  }

  .kandidat-title{
    font-size: var(--h1-font-size);
    font-family: var(--font-theme);
    font-weight: 600;
    line-height: 2.5;
    color: var(--gray-dark);
  }

  .right-side ul{
    list-style: circle;
    margin: 0;
    padding-left: 15px;
  }

  .visi-title, .misi-title, .nama-title{
    font-size: var(--h1-font-size);
    font-family: var(--font-theme);
    font-weight: 600; 
    line-height: 2.5;
    color: var(--gray-dark);
  }

  .vote-button{
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 2rem;
    margin-left: 4.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 14px;
    font-family: var(--third-body-font);
    letter-spacing: 1.15px;
    background-color: #d30051;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: none;
  }

  .vote-button:hover{
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(0.94);
    transition: 0.25s;
  }

  /* ==========   SUBMIT SECTION   ========== */
  .success-card-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-direction: row;
  }

  .success-card{
    width: 56rem;
    height: 8rem;
    background-color: #ecf0f3;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    z-index: 1;
    position: relative;
  }

  .fa-thumbs-up{
    font-size: 28px;
    margin-left: 1.5rem;
    margin-top: 3.2rem;
    color: var(--success);
  }

  .success-title{
    font-size: 28px;
    margin-left: .5rem;
    margin-top: 3rem;
    font-weight: 550;
    color: var(--success);
    font-family: var(--font-theme);
  }

  .success-text-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-direction: row;
    margin-top: 4rem;
  }

  .success-text-card{
    width: 56rem;
    height: auto;
    padding-bottom: 1.5rem;
    border-bottom: 1.5px solid var(--gray-dark);
  }

  .text-success{
    font-family: var(--font-theme);
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-dark);
  }

  .saran-text-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-direction: row;
    margin-top: .5rem;
  }

  .saran-text-card{
    width: 56rem;
    height: auto;
  }

  .kritik-saran, .link-gform{
    font-family: var(--font-theme);
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-dark);
  }

  .custom-select__trigger{
    font-size: 50px;
    font-family: var(--font-theme);
  }

  /* ==========   ADMIN SECTION   ========== */
  .main-admin{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .card-hasil{
    position: relative;
    height: 500px;
  }

  .card-section-hasil{
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .card-kandidat{
    font-family: var(--font-theme);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-theme);
    color: var(--gray-dark);
    margin-left: 3rem;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: #000000;
  }

  .presentase{
    font-family: var(--font-theme);
    font-size: var(--biggest-font-size);
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 3.75rem;
    color: var(--gray-dark);
  }

  .fa-caret-down{
    margin-left: 11rem;
    font-size: 25px;
    margin-top: 1rem;
    color: var(--info);
    cursor: pointer;
  }

  .fa-caret-down:hover{
    color: var(--purple);
  }

  .down__card{
    opacity: 0;
    transition: 0.2s;
  }

  .down-card-text{
    display: none;
  }

  .text-show{
    opacity: 1;
    margin-top: 3rem;
  }

  .text{
    margin-left: 3.8rem;
    display: block;
    font-family: var(--third-body-font);
  }

  .number-vote{
    color: var(--danger);
  }

  /* ==========   DAFTAR SISWA SECTION   ========== */

  .type-box{
    height: 40px;
    width: 200px;
    padding-left: 15px;
    font-size: 13px;
    letter-spacing: 0.15px;
    font-family: var(--third-body-font);
    color: var(--gray-dark);
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px 0 0 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    border: none;
    outline: none;
  }

  .type-box:focus{
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
  }

  .search-box{
    height: 40px;
    width: auto;
    font-size: 13px;
    letter-spacing: 0.15px;
    font-family: var(--third-body-font);
    color: var(--gray-dark);
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 0 8px 8px 0;
    box-shadow: 5px 5px 5px #d1d9e6, 0 -7.5px 7.5px #f9f9f9;
    border: none;
    outline: none;
  }

  .search-box:hover{
    background-color: #ecf0f3;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
    color: var(--purple);
  }

  .box-body{
    width: 56rem;
    margin-top: 4rem;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    box-shadow: 5px 5px 5px #d1d9e6, 0 -7.5px 7.5px #f9f9f9;
    border: none;
    outline: none;
    overflow: auto;
  }

  .table{
    overflow: auto;
  }

  .table-tr{
    background-color: #e4e4e4;
  }

  .table-header{
    color: var(--purple);
    font: var(--body-font);
    font-weight: 700;
    text-align: center;
  }

  .table-row{
    text-align: center;
    font-family: var(--font-theme);
    font-weight: 300;
  }
  
  /* ==========   INPUTAN SISWA SECTION   ========== */
  .input-content{
    margin-top: 3rem;
  }

  .alert-card{
    padding: 1rem 1.5rem;
    background-color: #ecf0f3;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
    border-radius: 0.55rem;
    overflow: hidden;
    z-index: 1;
    position: relative;
  }

  .alert-success{
    color: var(--success);
  }

  .alert-primary{
    color: var(--info);
  }

  .btn-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
  }

  .btn-import, .btn-export{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    font-family: var(--third-body-font);
    letter-spacing: 1.15px;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .btn-import:hover, .btn-export:hover{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(0.94);
    transition: 0.25s;
  }

  .btn-import:focus, .btn-export:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .btn-export{
    margin-left: 1rem;
  }

  .box-input-body{
    width: 56rem;
    margin-top: 2rem;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    box-shadow: 5px 5px 5px #d1d9e6, 0 -7.5px 7.5px #f9f9f9;
    border: none;
    outline: none;
    overflow: auto;
  }

  @media screen and (max-width: 550px) {
    .main-input{
      margin-top: 0;
    }
  }

